doctype html
head
	title CrewLink Server
	link(rel="icon", href="https://github.com/ottomated/CrewLink/raw/master/logo.png", type="image/x-icon")
	meta(property='og:title' content='CrewLink Server')
	meta(property='og:description' content='Voice server for Among Us proximity chat')
	meta(property='og:image' content='https://github.com/ottomated/CrewLink/raw/master/logo.png')
	style.
		body {
		background-color: #23272a;
		color: white;
		font-family: sans-serif;
		text-align: center;
		}
		img {
		height: 128px;
		width: 128px;
		margin: 32px auto;
		display: block;
		}
		a {
			text-decoration: none;
			color: #3498db
		}
		a:hover {
			text-decoration: underline;
		}
img(src="https://github.com/ottomated/CrewLink/raw/master/logo.png")
h1 CrewLink Server
p This is a CrewLink Server running on #{address}.
p There #{connectionCount === 1 ? 'is' : 'are'} currently #{connectionCount} connected user#{connectionCount === 1 ? '' : 's'}.
p 
	| To launch your own server, 
	a(href="https://github.com/ottomated/CrewLink-server", target="_blank") click here
	| .